$footerbar-height: 40px;
$topbar-height:    64px;

// TODO: Container width * col-<breakpoint>-2 - padding-left - padding-right.
$sidebar-width-lg: 130px;
$sidebar-width-xl: 160px;

.page {
  padding-top: $topbar-height;
  padding-bottom: $footerbar-height;

  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
  }
}

.sidebar {
  position: fixed;
  top: $topbar-height;
  width: $sidebar-width-lg;

  height: 100%;
  overflow-y: auto;
  padding-bottom: $topbar-height;

  @include media-breakpoint-up(xl) {
    width: $sidebar-width-xl;
  }
}
