.sidemenu {
  .nav-item {
    padding-left: $spacer * 2;
  }

  .nav-link {
    position: relative;
    padding: $spacer 0;
    color: inherit;
    border-bottom: 1px solid $gray-800;
  }

  .nav-item:last-child .nav-link {
    border-bottom: 0;
  }

  .nav-link.active,
  .nav-link:hover {
    color: $white;
  }

  .nav-link.active {
    font-weight: bold;
  }
}

.sidemenu-badge {
  position: absolute;
  top: 1.2rem;
  right: $spacer;
}
